<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="viewCtrl.dismiss()">Close</button>
    </ion-buttons>
    <ion-title>{{attacker.getFullName()}} Targets</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label>Movement</ion-label>
      <ion-select [ngModel]="attacker.moveType" (ngModelChange)="setMoveType($event)">
        <ion-option [value]="0">Stood Still</ion-option>
        <ion-option [value]="1">Walk</ion-option>
        <ion-option [value]="2">Run</ion-option>
        <ion-option [value]="3">Jump</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="attacker.moveType === 3">
      <ion-label>Hexes Jumped</ion-label>
      <ion-input
        type="number"
        [ngModel]="attacker.jumping"
        (ngModelChange)="jump($event)"
      ></ion-input>
    </ion-item>


    <ng-container *ngFor="let target of attacker.targets; first as first">
      <ion-item>
        <ion-label>{{first ? 'Primary' : 'Secondary'}} Target</ion-label>
        <ion-select [ngModel]="target.unit" (ngModelChange)="checkTarget($event, target)">
          <ng-container *ngFor="let unit of lanceSvc.opFor">
            <ion-option
              *ngIf="!checkUnit(unit) || target.unit === unit"
              [value]="unit"
            >
              {{unit.getFullName()}}
            </ion-option>
          </ng-container>
        </ion-select>
      </ion-item>

      <!-- Targeting Info -->
      <ng-container *ngIf="target.unit?.getFullName()">
        <ion-item>
          <ion-label>Target Movement Modifier</ion-label>
          <ion-input
            type="number"
            [ngModel]="target.unit.moveMod"
            (ionFocus)="target.unit.moveMod = ''"
            (ionBlur)="target.unit.moveMod = target.unit.moveMod || 0"
            (ngModelChange)="setMoveMod($event, target)"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Range to Target</ion-label>
          <ion-input
            type="number"
            [ngModel]="target.range"
            (ionFocus)="target.range = ''"
            (ionBlur)="target.range = target.range || 1"
            (ngModelChange)="setRange($event, target)"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Misc Modifiers</ion-label>
          <ion-input
            type="number"
            [ngModel]="target.cover"
            (ionFocus)="target.cover = ''"
            (ionBlur)="target.cover = target.cover || 0"
            (ngModelChange)="setCover($event, target)"
          ></ion-input>
        </ion-item>

        <ng-container *ngIf="target.range">
          <ng-container *ngFor="let weapon of attacker.weapons">
            <bth-attack
              *ngIf="weapon.target === null || weapon.target === target.unit"
              [attacker]="attacker"
              [target]="target.unit"
              [weapon]="weapon"
              [gunnery]="attacker.gunnery"
              [moveType]="attacker.moveType"
              [moveMod]="target.unit.moveMod"
              [other]="target.cover"
              [range]="target.range"
              [secondary]="!first"
            ></bth-attack>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>

    <button ion-item (click)="addTarget()" *ngIf="(attacker.targets.length < lanceSvc.opFor?.length) && attacker.targets[attacker.targets.length - 1]?.unit?.getFullName()">
      <ion-icon name="add-circle" item-start></ion-icon>
      Add Secondary Target
    </button>

    <ion-item>
      <ion-icon name="flame" item-start></ion-icon>
      Heat Generated: {{attacker.turnHeat}}
    </ion-item>

  </ion-list>
</ion-content>
