<ng-container *ngIf="weapon.target !== null" [ngSwitch]="weapon.attackStatus">

  <ion-item-sliding *ngSwitchCase="'none'">
    <ion-item (click)="showInfo = !showInfo">
      {{weapon.name}} ➔ {{weapon.target.getFullName()}} @ {{weapon.toHit}}

      <ion-item *ngIf="showInfo" no-lines no-padding>
        <b>Hit Chance: {{weapon.getProbability()}}%</b><br>
        {{weapon.toHitMods[0]}}: Gunnery<br>
        {{weapon.toHitMods[1]}}: Attacker Move Type<br>
        {{weapon.toHitMods[2]}}: Target Move Mod<br>
        {{weapon.toHitMods[3]}}: Other Modifiers<br>
        {{weapon.toHitMods[4]}}: Range
      </ion-item>
    </ion-item>

    <ion-item-options *ngIf="!showInfo && weapon.attackStatus === 'none'">
      <button ion-button color="danger" class="custom-option-btn" (click)="weapon.resolveAttack('miss')">
        <ion-icon name="radio-button-off"></ion-icon>
        Miss
      </button>
      <button ion-button color="secondary" class="custom-option-btn" (click)="weapon.resolveAttack('hit')">
        <ion-icon name="radio-button-on"></ion-icon>
        Hit
      </button>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item *ngSwitchCase="'hit'" color="secondary" no-lines>
    <b>{{weapon.name}} ➔ {{weapon.target.getFullName()}} @ {{weapon.toHit}}</b>
  </ion-item>

  <ion-item *ngSwitchCase="'miss'" color="danger" no-lines>
    <b>{{weapon.name}} ➔ {{weapon.target.getFullName()}} @ {{weapon.toHit}}</b>
  </ion-item>

</ng-container>
