<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="viewCtrl.dismiss()">Cancel</button>
    </ion-buttons>
    <ion-title>Call Artillery</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label>Type</ion-label>
      <ion-input [(ngModel)]="newStrike.type"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Mapsheet</ion-label>
      <ion-input [(ngModel)]="newStrike.mapsheet"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Hex</ion-label>
      <ion-input
        [(ngModel)]="newStrike.hex"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Turn</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="newStrike.turn"
      ></ion-input>
    </ion-item>

    <button ion-item (click)="addArty()">
      <ion-icon name="locate" item-start></ion-icon>
      Fire Artillery
    </button>

  </ion-list>
</ion-content>
