<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Forces" tabIcon="bthelper-doll"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Combat" tabIcon="locate"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Classified" tabIcon="copy"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Utilities" tabIcon="build"></ion-tab>
</ion-tabs>
