<ion-header>
  <ion-navbar>
    <ion-title>Dead Zone Calculator</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <!-- Inputs -->
    <ion-item>
      <ion-label>Hex Height</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="hexHeight"
        (ngModelChange)="doCalc()"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Upper Unit Hex Height</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="upperHeight"
        (ngModelChange)="doCalc()"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Upper Unit Distance</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="upperRange"
        (ngModelChange)="doCalc()"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Lower Unit Hex Height</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="lowerHeight"
        (ngModelChange)="doCalc()"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Lower Unit Distance</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="lowerRange"
        (ngModelChange)="doCalc()"
      ></ion-input>
    </ion-item>

    <ion-item [ngSwitch]="blocked">
      <ion-icon *ngSwitchCase="true" name="eye-off" item-start></ion-icon>
      <ion-icon *ngSwitchDefault name="eye" item-start></ion-icon>
      Result: <b>{{blocked ? 'LOS Blocked' : 'Clear LOS'}}</b>
      <ion-icon *ngIf="!showInfo && values.length" name="information-circle" item-end (click)="showInfo = !showInfo"></ion-icon>
    </ion-item>

    <!-- Results -->
    <ion-item *ngIf="showInfo && values.length">
      <ion-item no-lines>
        <b>Diagnostic Info:</b><br>
        Step 1: A = {{values[0]}}<br>
        Step 2: B = {{values[1]}}<br>
        Step 3: C = {{values[2]}}<br>
        Step 4:     {{values[3]}}<br>
        Step 5:     {{values[4]}} {{(values[4] > 0) ? '>' : '<'}}  0, thus {{blocked ? 'LOS Blocked' : 'Clear LOS'}}
      </ion-item>
    </ion-item>

    <!-- Rules Snippets -->
    <ng-container [ngSwitch]="snowSnippetLOS">
      <ion-item text-wrap *ngSwitchDefault (click)="snowSnippetLOS = true">
        <ion-icon name="copy" item-start></ion-icon>
        <b>Show LOS Rules Intro</b>
      </ion-item>

      <ion-item *ngSwitchCase="true">
        <ion-item no-lines text-wrap (click)="snowSnippetLOS = false">
          <b>LINE OF SIGHT AND DEAD ZONES</b>

          <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          The standard line-of-sight rules work well under all circumstances
          except one: when two opposing units are not
          separated by terrain equal to or higher than both of them or
          adjacent terrain equal to or higher than one of them, and yet
          logically there should be no line of sight (LOS) between them.

          <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          The Dead Zone rule adds more complexity to calculating
          LOS between units, but treats dead zones more realistically.
          This rule is especially important in mountainous terrain, sinkholes,
          and canyons where there is often a large difference
          between different units’ levels.

          <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          The Dead Zone rule replaces the following standard LOS rule
          (see p. 100, TW), which reads: “Terrain along the LOS between
          two units is intervening if: The terrain or feature is adjacent to
          the attacker and equal to or higher than the attacker’s level;
          or the terrain or feature is adjacent to the target and equal
          to or higher than the target’s level.” All other standard LOS
          rules still apply. Because the standard line-of-sight rules work
          well in most situations, advanced line of sight should only be
          used when a player thinks there is a legitimate line-of-sight
          question. Players should not invoke this rule unless absolutely
          necessary, as it will slow down game play.
        </ion-item>
      </ion-item>
    </ng-container>

    <ng-container [ngSwitch]="showSnippetDeadZones">
      <ion-item text-wrap *ngSwitchDefault (click)="showSnippetDeadZones = true">
        <ion-icon name="copy" item-start></ion-icon>
        <b>Show Dead Zone Rules Text</b>
      </ion-item>

      <ion-item *ngSwitchCase="true">
        <ion-item text-wrap no-lines (click)="showSnippetDeadZones = false">
          <b>Dead Zone Rule</b>

          <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Players must check for dead zones if there is no intervening
          terrain equal to or higher than both the attacker and the target,
          but there is still some question as to whether LOS exists.
          Note which of the two units is at the higher level and which is
          lower. Then find the highest-level hex between the two units.<br><br>

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          If there is more than one of equally high levels, use the hex closest
          to the lower of the two units, designating it “Hex X.” The level of
          Hex X may or may not create a dead zone. To find out, follow the
          steps shown below.<br><br>

          1. Subtract the level of the lower unit from that of Hex X. This
          number is “A.”<br><br>

          2. Subtract the level of Hex X from that of the higher unit. This
          number is “B."<br><br>

          3. Subtract B from A and multiply the result by 2. This number
          is “C.”<br><br>

          4. Count the range to Hex X from both units. Subtract the range
          to the lower unit from the range to the higher. This number will
          be negative if the higher unit is closer to Hex X than the lower unit.
          Add this number to C.<br><br>

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          If the final result is greater than 0, the lower unit is in the dead
          zone and LOS is blocked. If the result is 0 or less, then LOS exists
          between the two units.<br><br>

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Using the previous example, the dead-zone rule works as follows.
          For the purposes of this rule, BattleMechs are considered to
          only be 1 level above the terrain on which they are standing (as
          opposed to the standard 2 levels), so the ’Mech in Hex B is at Level
          1. Hex X is at Level 3. 3 – 1 = 2, so “A” is 2. The ’Mech in Hex A is at
          Level 4; 4 – 3 = 4, so “B” is 1. 2 – 1 = 1 and 1 x 2 = 2, so “C” is 2. The
          range from Hex X to both units is 2 hexes, and 2 – 2 = 0. The final
          result is 2 (2 + 0 = 2). As the result is higher than 0, there is no LOS
          between the two units.<br><br>

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          The Dead Zone rule does not change the way partial cover is
          determined.
        </ion-item>
      </ion-item>
    </ng-container>

  </ion-list>
</ion-content>
