<ion-item-divider (click)="minMechs()" [ngSwitch]="collapsed">
  <b>Hidden Mechs</b>
  <ion-icon *ngSwitchCase="'collapsed'" name="arrow-dropdown-circle" item-start></ion-icon>
  <ion-icon *ngSwitchCase="'hidden'" name="alert" item-start></ion-icon>
  <ion-icon *ngSwitchDefault name="arrow-dropright-circle" item-start></ion-icon>
</ion-item-divider>


<ng-container *ngFor="let mech of lanceSvc.myUnits" [ngSwitch]="mech.hidden">

  <ng-container *ngSwitchCase="true">
    <ion-item *ngIf="collapsed !== 'hidden'" (click)="revealUnit(mech)">
      <ion-icon name="help" item-start></ion-icon>
      <b>Hidden Mech</b>
    </ion-item>
  </ng-container>

  <ng-container *ngSwitchCase="false">
    <ion-item *ngIf="collapsed === 'default'">
      <ion-icon name="bthelper-doll" item-start></ion-icon>
      <b>{{mech.getFullName()}}</b> <br>
      Revealed: {{mech.location || 'Game Start'}}
    </ion-item>
  </ng-container>

</ng-container>

<button class="subdued" ion-item (click)="concealUnit()" *ngIf="turnSvc.currentTurn === 0">
  <ion-icon name="add-circle" item-start></ion-icon>
  Add Hidden Unit
</button>
