<ion-header>
  <ion-navbar>
    <ion-title>Forces</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <lance-container
      [self]="true"
      [units]="lanceSvc.myUnits"
    ></lance-container>

    <ion-item no-lines></ion-item>

    <lance-container
      [self]="false"
      [units]="lanceSvc.opFor"
    ></lance-container>

  </ion-list>
</ion-content>
