<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="viewCtrl.dismiss()">Cancel</button>
    </ion-buttons>
    <ion-title>Add Unit</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar
    #searchInput
    [(ngModel)]="search"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>

  <ion-list>
    <ng-container *ngFor="let mech of mechs; index as i">
      <ion-item *ngIf="i < index" (click)="addMech(mech)" text-wrap>
        <b>{{mech.getFullName()}}</b><br>
        {{mech.summary.substring(mech.getFullName().length, mech.summary.length)}}
      </ion-item>
    </ng-container>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
