<ion-header>
  <ion-navbar>
    <ion-title>Utilities</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <button ion-item (click)="gotoDeadzone()">
      <ion-icon name="eye-off" item-start></ion-icon>
      Dead Zone Calculator
    </button>

    <button ion-item (click)="resetTurn()">
      <ion-icon name="alarm" item-start></ion-icon>
      Reset Battle
    </button>

  </ion-list>
</ion-content>
