<ion-item-divider (click)="minStrikes()" [ngSwitch]="collapsed">
  <b>Artillery Strikes</b>
  <ion-icon *ngSwitchCase="'collapsed'" name="arrow-dropdown-circle" item-start></ion-icon>
  <ion-icon *ngSwitchCase="'hidden'" name="alert" item-start></ion-icon>
  <ion-icon *ngSwitchDefault name="arrow-dropright-circle" item-start></ion-icon>
</ion-item-divider>


<ng-container *ngFor="let strike of artySvc.arty" [ngSwitch]="strike.revealed">

  <ng-container *ngSwitchCase="true">
    <ion-item *ngIf="collapsed === 'default'">
      <ion-icon name="warning" item-start></ion-icon>
      <b>Turn {{strike.turn}}</b>, {{strike.type}} on {{strike.mapsheet}} @ {{strike.hex}}
    </ion-item>
  </ng-container>

  <ng-container *ngSwitchDefault>
    <ion-item *ngIf="collapsed !== 'hidden'" (click)="revealArty(strike)">
      <ion-icon name="alarm" item-start></ion-icon>
      Artillery Strike Inbound <b>(Turn {{strike.turn}})</b>
    </ion-item>
  </ng-container>

</ng-container>

<button class="subdued" ion-item (click)="promptArtyStrike()">
  <ion-icon name="add-circle" item-start></ion-icon>
  Add Artillery Strike
</button>
