<ion-item *ngIf="toHit">
  <ion-label>{{weapon.location}}: {{weapon.name}}<span *ngIf="toHit"> @ {{toHit}}</span></ion-label>

  <!-- FIXME: This needs to become a button... -->
  <ion-checkbox
    [ngModel]="checked"
    (ngModelChange)="checkWeapon()"
  ></ion-checkbox>
</ion-item>
