<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="viewCtrl.dismiss()">Cancel</button>
    </ion-buttons>
    <ion-title>Hide Unit</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label>Hidden Unit</ion-label>
      <ion-select [(ngModel)]="hiddenUnit">
        <ion-option
          *ngFor="let unit of units"
          [value]="unit"
        >
          {{unit.getFullName()}}
        </ion-option>
      </ion-select>
    </ion-item>

    <!-- Unit Info -->
    <ion-item>
      <ion-label>Mapsheet</ion-label>
      <ion-input
        [(ngModel)]="mapsheet"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Hex</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="hex"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Hex Facing</ion-label>
      <ion-input
        [(ngModel)]="facing"
      ></ion-input>
    </ion-item>

    <button ion-item *ngIf="hiddenUnit" [disabled]="!(mapsheet && hex && facing)" (click)="concealUnit()">
      <ion-icon name="help" item-start></ion-icon>
      Conceal Unit
    </button>

  </ion-list>
</ion-content>
