<ion-header>
  <ion-navbar>
    <ion-title>
      Combat
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <button ion-item (click)="advanceTurn()">
      <ion-icon name="hourglass" item-start></ion-icon>
      <b>Current Turn:</b> {{(turnSvc.turn$ | async) === 0 ? 'Pre-Match (Click to Advance)' : (turnSvc.turn$ | async)}}
    </button>

    <button ion-item (click)="viewDmgSummary()">
      <ion-icon name="sunny" item-start></ion-icon>
      View Damage Summary
    </button>

    <ion-item *ngIf="!lanceSvc.myUnits.length">No Units to Display</ion-item>

    <ng-container *ngFor="let unit of lanceSvc.myUnits">
      <button ion-item text-wrap (click)="declare(unit)">
        <ion-icon name="bthelper-doll" item-start></ion-icon>
        <b>{{unit.getFullName()}}</b>
        <span><br>Movement: {{unit.getMoveMode()}}</span>
        <span><br>Heat Generated: {{unit.turnHeat}}</span>
      </button>

      <bth-attack-info
        *ngFor="let weapon of unit.weapons"
        [weapon]="weapon"
      ></bth-attack-info>
    </ng-container>

  </ion-list>
</ion-content>
