<ion-item-divider
  [ngSwitch]="showMechs"
  (click)="showMechs = !showMechs"
>
  <b>{{self ? 'My Lance' : 'OpFor'}}</b>
  <ion-icon *ngSwitchCase="true" name="arrow-dropdown-circle" item-start></ion-icon>
  <ion-icon *ngSwitchDefault name="arrow-dropright-circle" item-start></ion-icon>
</ion-item-divider>

<ion-item-sliding *ngFor="let unit of units">
  <ion-item *ngIf="showMechs" (click)="editMech(unit)">
    <ion-icon name="bthelper-doll" item-start></ion-icon>
    <b>{{unit.getFullName()}}</b><br>
    Piloting: {{unit.piloting}}<br>
    Gunnery: {{unit.gunnery}}
  </ion-item>

  <ion-item-options>
    <button
      ion-button
      color="danger"
      (click)="deleteUnit(unit)">
      <ion-icon name="trash"></ion-icon>
      Delete
    </button>
  </ion-item-options>
</ion-item-sliding>

<button class="subdued" ion-item (click)="addUnit()">
  <ion-icon name="add-circle" item-start></ion-icon>
  Add Unit
</button>
