<ion-header>
  <ion-navbar>
    <ion-title>Classified Information</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item (click)="advanceTurn()">
      <ion-label><b>Current Turn:</b> {{(turnSvc.turn$ | async) === 0 ? 'Pre-Match (Click to Advance)' : turnSvc.currentTurn}}</ion-label>
    </ion-item>

    <concealed-container></concealed-container>

    <ion-item no-lines></ion-item>

    <arty-container></arty-container>

  </ion-list>
</ion-content>
